<div class="container">
    <div class="row">
        <div class="col-md-9 col-md-push-3">
            <h2>About Howard County Chinese School</h2>
            <p>Howard County Chinese School (HCCS), located in Howard County, MD, is a non-profit, non-political, and non-religious school established in 1998 to promote Chinese culture and language through high-quality educational and cultural classes. The school also serves as a link between parents and the Chinese community.</p>
            <p>Classes are offered on Saturdays at Centennial High School, and Sundays at Howard Community College, with a total enrollment of over a 1,000 students. HCCS is a member of the Chinese School Association of the United States (CSAUS).</p>

            <h4>Address for Saturday Classes</h4>
            <address style="margin-left: 50px;">
                Centennial High School<br>
                4300 Centennial Lane<br>
                Ellicott City, MD 21042
            </address>

            <h4>Address for Sunday Classes</h4>
            <address style="margin-left: 50px;">
                Howard Community College<br>
                10901 Little Patuxent Parkway<br>
                Columbia, MD 21044
            </address>

            <h3>Bilingual Courses</h3>

            <p>The bilingual courses are designed for students whose native language is not Chinese.  The textbook series, Happy Chinese, is the course material designed specifically for non-Chinese language learners by the Chinese National Office for Teaching Chinese as a Foreign Language (Hanban), and it provides students with both pinyin and English translations.</p>

            <p><b>Bilingual Level 1:</b>  For students who have no or very limited Chinese Language skills and would like to explore the mysterious of the Chinese language and interesting in learning the Chinese cultures.  This course emphasizes on basic Chinese speaking and listening, everyday spoken language practice, and, along with the course materials, will introduce some features of Chinese culture, such as Chinese children poems, games, music, painting, traditional stories, traditional festivals, etc.  By end of the year student should be able to introduce them self in Chinese by speaking 5-10 simple Chinese sentences, and also able to recognize approximant 50 Chinese characters.</p>

            <p><b>Bilingual Level 2:</b>  For students with at least 50 words of basic Chinese, such as vocabulary for numbers, relatives, etc., and who can say 10-15 basic sentences in Chinese.  This course is also appropriate for beginner 8 and older who would like to advance quickly in their study of Chinese. This course emphasizes basic, everyday spoken language practice, and, along with the course materials, will introduce some features of Chinese culture, such as music, painting, traditional stories, traditional festivals, etc. </p>

            <p><b>Bilingual Level 3:</b> For students who have at least 70-80 hours previous Chinese studies and would like to advance quickly in their study of Chinese. This course requires that student understand the Chinese pinyin, able to speak very basic Chinese daily sentences and have the basic ability to read the simple Chinese paragraph by recognizing the pinyin.  This course will learn Chinese language speaking, listening, read and writing along with Chinese culture, the course  is also help students to build up the confidence in Chinese learning in the future.</p>

            <p><b>Advanced Chinese Courses:</b> Grade 9-10 Chinese Course is can be enrolled through Howard Community College as a joint program. Accomplishment of these study can be used as general requirement to apply for national wide universities including Harvard University, Cornel University, University of Pennsylvania, Georgetown University, University of Maryland College Park,etc.</p>

        </div>

        <div class="col-md-3 col-md-pull-9">
            <h2></h2>
            <img class="img-responsive" src="~/Content/Images/campus_1.jpg" /><br>
            <img class="img-responsive" src="~/Content/Images/campus_2.jpg" /><br>
            <img class="img-responsive" src="~/Content/Images/campus_3.jpg" /><br>
            <img class="img-responsive" src="~/Content/Images/campus_4.jpg" />
        </div>
    </div>
</div>