<div class="container">
    <div class="row">
        <div class="col-md-9 col-md-push-3">
            <h2>校园简介</h2>
            <p>哈维中文学校(HCCS)成立于1998年12月，位于哈维郡， 是一所在马里兰州注册的非营利性， 非政治性， 非宗教性的中文学校。 HCCS的办学宗旨是致力于服务社区，家长和学生，提供高质量的中文教学，和丰富的课外活动课程。 学校规摸大、教学成果丰硕、深受学生/家长喜爱，HCCS现为全美中文学校协会(CSAUS)会员和国务院侨办评选的"海外中文教育示范学校"。 目前有周六班和周日班两个不同的教学时间段，注册学生逾千人。周六班地址在Centennial 高中，周日班地址在哈维郡社区大学。</p>

            <h4>周六班地址</h4>
            <address style="margin-left: 50px;">
                Centennial High School<br>
                4300 Centennial Lane<br>
                Ellicott City, MD 21042
            </address>

            <h4>周日班地址</h4>
            <address style="margin-left: 50px;">
                Howard Community College<br>
                10901 Little Patuxent Parkway<br>
                Columbia, MD 21044
            </address>

            <h3>办学宗旨</h3>

            <p>学校的办学宗旨是教育下一代学习中文，促进家长之间的互相交流，弘扬中华民族和语言文化。</p>

            <h3>学生及课程</h3>
            <p>哈维中文学校招收年满五岁以上中外儿童和成人学生，教授普通话，汉语拼音及简体字。学校设有从幼大班至十年级中文班，还开设有双语班，另有绘画，儿童及成人舞蹈和合唱，趣味数学, 武术太极等课后班。上课时间由每星期日下午12:00至6:00。中文教材采用由中国课程教材研究所编写，人民教育出版社出版的《标准中文》和马立平多媒体教材。</p>

        </div>

        <div class="col-md-3 col-md-pull-9">
            <h2></h2>
            <img class="img-responsive" src="~/Content/Images/campus_1.jpg" /><br>
            <img class="img-responsive" src="~/Content/Images/campus_2.jpg" /><br>
            <img class="img-responsive" src="~/Content/Images/campus_3.jpg" /><br>
        </div>


    </div>
</div>