    <!-- Page contents -->
<div class="container">
    <div class="row">
        <div class="col-md-12">

            <h2>各类活动</h2>

            <p>哈维中文学校自1998年创办以来，在学生中开展了丰富多彩的中文学习活动。很多活动在不断的摸索和完善中，逐渐成为学校中华文化学习的传统活动。这些活动概括起来分为下面几大类：</p>

            <h3>各类中文知识竞赛和写作竞赛活动</h3>
            <ul>
                <li>在每年秋季学期开展的活动</li>
                <ul>
                    <li>《侨报》写作大赛</li>
                    <li>世界华人学生作文大赛</li>
                    <li>"海外华裔青少年中华文化大赛"知识竞赛（每隔几年，不定期开展）<p></p></li>
                </ul>
                <li>在每年春季学期开展的活动</li>
                <ul>
                    <li>朗诵/演讲比赛（每两年一次）</li>
                    <li>中文基础知识竞赛（每两年一次）</li>
                    <li>"鲁迅青少年文学奖"写作大赛</li>
                </ul>
            </ul>

            <h3>暑期夏令营活动</h3>
            <ul>
                <li>"中国寻根之旅"夏令营</li>
                <ul>
                    <li>每年组织适龄学生参加不同的夏令营</li>
                    <li>到中国实地参观考察、学习交流、寻根问祖</li>
                    <li>增进海外华裔青少年对中国了解，提高他们学习汉语和中华文化的兴趣<p></p></li>
                </ul>
                <li>"Gateway to China" 哈维中文学校暑期夏令营</li>
                <ul>
                    <li>
                        与Howard County Recreation Park合作，注册网址为: <a href="https://apm.activecommunities.com/howardcounty/Home">https://apm.activecommunities.com/howardcounty/Home</a>
                        <p><a href="https://apm.activecommunities.com/howardcounty/Activity_Search?txtActivitySearch=gateway%20to%20china&applyFiltersDefaultValue=true&cat=Activities">2017年暑期注册链接</a></p>
                    </li>
                    <li>为家长暑期排忧解难，孩子得到不间断了解和学习中国文化的机会</li>
                    <li>教学活动内容涵盖： 免费游泳课/乒乓球课 、中国文化课 、中国地理 、中国舞蹈 、中国书法、中国剪纸等等<p></p></li>
                </ul>
            </ul>


        </div>
    </div>
</div> <!-- /container -->
