<div class="container">
    <div class="row">
        <div class="col-md-12">

            <h2>特色课程介绍</h2>

            <p>
                哈维中文学校招收年满五岁以上中外儿童和成人学生，教授普通话，汉语拼音及简体字。学校设有从幼大班至十年级中文班。
                另有绘画，儿童及成人舞蹈和合唱，Zumba 健身舞，瑜伽，武术，太极，高中物理竞赛，奥林匹克数学，高中数学竞赛, 机器人等多中选修课。
            </p>

            <h4><span class="glyphicon glyphicon-book" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;双语班</h4>
            <p>双语班针对以非中文为母语的学生。所用教材《快乐汉语》由中国汉办专门为海外学生设计，有拼音及英文注释。最重要的一点是，配合这套教材，汉办设有免费的教学网站kid.chinese.cn，便于学生课后复习以及家长了解孩子所学的内容。。</p>

            <h4><span class="glyphicon glyphicon-book" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;中文课程大学学分认可项目</h4>
            <p>哈维中文学校（HCCS）已与Howard Community College (HCC) 就中文(9-10年级)课程授予大学学分合作项目达成协议。 HCC 社区大学学分可以作为大学本科生的基础必修学分，被绝大多数的大学认可（含哈佛大学，宾州大学，康奈尔大学，马里兰大学等等）。 参加这一项目的同学，将和其他 HCC 注册学生一样，有机会使用多种 HCC 学校设施。</p>

            <h4><span class="glyphicon glyphicon-book" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;AMC12 数学竞赛 - 欧阳峰</h4>
            <p>
                AMC10 和 AMC12是每个高中都参加的全国性数学竞赛，也是得到美国数学奥林匹克（USAMO）资格的第一步。如果通过这个竞赛得到下一级别（AIME）的资格，就可列入申请大学的履历表中。
                本课旨在为高中数学优秀生补充基本概念和解题技巧方面的训练，帮助他们在AMC10和AMC12中取得好成绩。本课面向的学生为学完Algebra II和Geometry，正在学习pre-calculus的中学生。本课的知识范围将比普通中学课堂内容加深和拓广，题目难度会大大超过普通中学课堂。所以本课更适合对数学特别有兴趣，数学成绩优异的学生。除了上课外，学生预计每星期花1至2小时做作业。
            </p>

            <h4><span class="glyphicon glyphicon-book" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;现代健美舞蹈 Zumba - 邵睿</h4>
            <p>
                Zumba是以拉丁音乐和现代流行音乐为主，融入摇滚，桑巴，曼波，肚皮舞，等多种舞步的现代健美舞蹈。 它集健身与舞蹈为一体，既锻炼了形体，又调剂了心情。男女老少都可参加。 个人可以按照自己的身体状况决定锻炼的强度。越来越受到健美舞蹈者的喜爱。快来参加现代健美舞蹈锻炼吧，让你的身心更加年轻！
                教师邵睿女士,持有Zumba教练证书。 她自小喜爱舞蹈。大学期间是学校舞蹈队和健美操队成员，曾获北京高校健美操比赛亚军。  她连续两年为我校春晚Zumba健美操团队的表演作艺术指导和舞蹈编排。邵老师将以满腔热情和熟练的技巧带领大家一起跳舞健身。
            </p>

            <h4><span class="glyphicon glyphicon-book" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;少儿绘画 I - 王晓天</h4>
            <p>Drawing I is designed for students ages 6-8. It is a fundamental visual communication concept, skills, and expressions course. The purpose of this class is to teach grade school children some fundamentals of Art in fun and educative manners. Primary subject matter will be more basic cartoon imagery and simple shape still-life.</p>

            <h4><span class="glyphicon glyphicon-book" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;少儿绘画 II - 王晓天</h4>
            <p>Drawing II is a course designed for more experienced students. The students will learn how to observe basic visual elements, and create image which will help them to develop their sense of visual communication. To help them gain a better understanding of the physical world around them and to use their imagination in translating it into a two dimensional art image. The course will cover how to draw still life, animals, plans and figures, how to use color and different media. </p>

            <h4><span class="glyphicon glyphicon-book" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;中国画 - 刘葵</h4>
            <p>Ms Kwai Liu started her painting art career, at age of four, under the dedicated guidance of her father Mr Liu Jiyou who was a well-known master artist of traditional chinese painting in China, She actively participate in many local and national art exhibitions and activities, and won various awards.Several of her paintings were published, and some were collected as the exhibition at the Great Hall 0f the People in Beijing and other public places.</p>

            <p>Ms Kwai Liu has many years teaching experience at her home and at public schools. The Howard County TV channel once reported and praised her teaching art class in school as highly unique and practical.</p>

            <h4><span class="glyphicon glyphicon-book" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;围棋 - Brent Layer</h4>
            <p>The strategic board game of weiqi, also known as surrounding game, was invented in China thousands of years ago and still played today just as it was then. It is one of the most popular games in the world today. Weiqi takes simple elements: line and circle, black and white, stone and wood, and combines them with simple rules to generate innumerably complex subtleties. Weiqi can be quickly demonstrated and easily learned. The game is enjoyable played over a wide spectrum of skills from beginner to expert. A unique and reliable system of handicapping allows for players of differing strengths to compete on more equal footing. An early mistake can be overcome, used to advantage, or reversed as the game progresses. The game rewards patience and balance over aggression and is an excellent way to sharpen minds. </p>
            <p>The class is for beginners and assumes no previous weiqi experience. We will cover the rules of weiqi, demonstrated through games such as first capture on smaller boards, and progress to opening strategies, life and death problems, capturing races, ko fights and counting territory. By the end of the year, students will have grasped the fundamentals of how to play one of the most elegant games ever created while learning to appreciate one of the ancient Chinese arts.</p>

            <h4><span class="glyphicon glyphicon-book" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;太极拳 - 胡小鹏</h4>
            <p>胡小鹏老师自幼习武，曾跟从多位名师习练长拳，南拳，少林和太极。在上大学期间参加学校武术队并曾荣获少林拳冠军和24式太极拳冠军。参与组建学校的武术协会任副会长。在2013年的全美功夫武术比赛中荣获42式太极拳，42式太极剑冠军。 胡老师具有多年太极教学经验，拥有良好的武术功底和理论基础。能让学员在较短的时间内进入太极的大门。</p>
            <p>本教授太极拳的基本原理；太极拳的基本技巧；"八段锦" 和"24式太极拳"（或"32式太极拳"套路，依学生情况而定）。适合成年人学练，也欢迎12岁以上的青少年参加。 依照学生情况，课程可用中英文教授。</p>

            <h4></h4>
        </div>
    </div>
</div>