<div class="container">
    <div class="row">
        <div class="col-md-12">

            <h2>社团</h2>

            <h3>北美熊猫摄影学会（PPSNA）</h3>
            <img src="~/Content/Images/club_photography.jpg" class="img-responsive" style="float: right; margin: 0px 0px 20px 20px;" />
            <p>北美熊猫摄影学会（PPSNA）起始于北京电影学院杨恩璞教授（已退休）和霍华德县中文学校教师施湘飞教授的一系列摄影讲座。 它目前有35个业余摄影师成员。他们立足与马里兰州并环游世界，热衷于捕捉令人兴奋的人文瞬间和美丽的风景。 学会成员在当地和国际摄影比赛中赢得了多个奖项。 他们的艺术作品已被选定在许多地方展出，如马里兰州Ellicott市游客中心，华盛顿郊区卫生委员会（WSSC）美术馆，彩虹老年服务中心，霍华德县米勒图书馆等。</p>
            <p>本学会每月定期活动两次，组织专家授课，同仁交流，及户内与户外拍摄等丰富多彩的活动。本学会于2017年1月首次出版其微刊杂志。 它收集了部分成员的三个代表性摄影作品，以及摄影师的工作照和对摄影的感悟。 PPSNA的微刊杂志将定期发布，为其成员提供一个学习交流和分享的平台，分享他们杰出的摄影作品给对摄影有兴趣的人以及他们的朋友和家人。 以下是2017年第一期和第二期的链接：</p>

            <ul>
                <li><a href="https://www.meipian.cn/aex4bbp?from=singlemessage&isappinstalled=1" target="_BLANK">第一期</a></li>
                <li><a href="https://www.meipian.cn/bfk7zfs?from=singlemessage&isappinstalled=1" target="_BLANK">第二期</a></li>
            </ul>

            <p>2017年将是一个快乐的猴年。让我们期待看到越来越多越好的摄影作品。</p>
            <p>联系邮箱： ppsna2017@gmail.com</p>
            <p>学会网址： <a href="http://ppsna2017.wixsite.com/welcome" target="_BLANK">http://ppsna2017.wixsite.com/welcome</a></p>

            <h3>盛华合唱团</h3>
            <p>盛华合唱团成立于二零零六年，最初由哈维中文学校一群家长组成，发展至今已有团员一百二十多人，来自不同的专业和文化背景。 盛华致力于推广合唱艺术，丰富团员及社区的文化生活，弘扬中华传统文化艺术。 除了参加大华府地区每年一度的海华民谣艺术歌曲演唱会之外，盛华合唱团还在很多大型文艺活动中演出，例如本地的亚太文化节和由世界艺术家交流协会主办的国际文化节。</p>

            <p>盛华合唱团现任指挥和艺术指导为许郁青博士。热爱合唱艺术的朋友若有兴趣加盟盛华，请与团长黄进（drjimhuang@yahoo.com）联系。</p>


        </div>
    </div>
</div>