<div class="container">
    <div class="row">
        <div class="col-md-12">

            <h2>Clubs</h2>

            <h3>Panda Photographic Society of North America (PPSNA)</h3>
            <img src="~/Content/Images/club_photography.jpg" class="img-responsive" style="float: right; margin: 0px 0px 20px 20px;" />
            <p>Panda Photographic Society of North America (PPSNA) was originated from a series of photography lectures taught by Professor Yang Enpu (BEIJING FILM ACADEMY) and Teacher Shi Xiangfei in Howard County Chinese School.  It includes about 35 amateur photographers who are enthusiastic about capturing exciting culture moments and beautiful sceneries when they participated local events and traveled around the world. The group members have won multiple awards from local and international photo competitions. Their art works have been selected to exhibit in many places such as the Ellicott City Welcome Center, Washington Suburban Sanitary Commission (WSSC) Art Gallery, Rainbow Senior Care Center, Miller Branch of Howard County Library System, etc.</p>
            <p>PPSNA organizes regular bi-weekly events, which includes expert lectures, peer exchanges, indoor and outdoor photography sessions.PPSNA wasproudly to announce its first publication of Wei-magazine in January 2017.  It had collected three representative artworks of each contributing photographer with his/her profile and reflection on photography.  The Wei-magazine will publish periodically to provide a platform for members of PPSNA to share their outstanding artworks to people interested in photographing and among their friends and families.  Here are the links to their two recently published Wei-magazines.</p>

            <ul>
                <li><a href="https://www.meipian.cn/aex4bbp?from=singlemessage&isappinstalled=1" target="_BLANK">No. 1</a></li>
                <li><a href="https://www.meipian.cn/bfk7zfs?from=singlemessage&isappinstalled=1" target="_BLANK">No. 2</a></li>
            </ul>

            <p>Happy New Year of 2017, the year of Monkey. Let’s look forward to seeing more and greater photograph art pieces.</p>
            <p>Email： ppsna2017@gmail.com</p>
            <p>Website： <a href="http://ppsna2017.wixsite.com/welcome" target="_BLANK">http://ppsna2017.wixsite.com/welcome</a></p>

            <h3>Columbia Chinese Choral Arts Society (CCCAS)</h3>
            <p>Columbia Chinese Choral Arts Society (CCCAS), also known as “Shenghua Chorus”, was founded in 2006 by a group of parents in Howard County Chinese School. CCCAS has since expanded its membership to more than one hundred twenty singers from diverse professional and cultural backgrounds. CCCAS has dedicated itself to promote choral arts, enrich the cultural lives of its members and the community, and foster the traditional Chinese culture and arts. Apart from the annual Haihua Chinese Culture and Art Festival, CCCAS has also performed in various cultural and art events such as the Asian-Pacific Cultural Heritage Festival and the World Artists Experiences International Culture Festival.</p>

            <p>CCCAS’s current conductor and musical director is Dr. Jean Hsu. Everybody who shares the passion for choral music is welcomed to join the chorus. If interested please contact Dr. Jim Huang (drjimhuang@yahoo.com), CCCAS’s president.</p>


        </div>
    </div>

</div>