    <!-- Page contents -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>各类表格</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h4><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;常用表格</h4>

            <ul class="list-unstyled">
                <li><a href="docs/form_new_student.pdf" target="_BLANK">New Student Registration Form</a></li>
                <li><a href="docs/form_skip_grade.pdf" target="_BLANK">Skip Grade Application Form</a></li>
                <li><a href="docs/form_refund.pdf" target="_BLANK">Refund Form</a></li>
                <li><a href="docs/form_seminar_request.pdf" target="_BLANK">Seminar Request Form</a></li>
            </ul>

            <h4><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;中文读书报告有奖活动</h4>

            <ul class="list-unstyled">
                <li><a href="docs/reading_report_rules.pdf" target="_BLANK">Reading Report Rules</a></li>
                <li><a href="docs/reading_record_student.xls" target="_BLANK">Reading Report Students</a></li>
                <li><a href="docs/reading_report.pdf" target="_BLANK">Reading Report Line</a></li>
                <li><a href="docs/reading_report_square.pdf" target="_BLANK">Reading Report Square</a></li>
            </ul>

        </div>
        <div class="col-md-4">
            <h4><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;教师用表格</h4>

            <ul class="list-unstyled">
                <li><a href="docs/teacher_handbook.pdf" target="_BLANK">Teacher handbook</a></li>
                <li><a href="docs/teachers_timesheet_2016_spring.xls" target="_BLANK">Timesheet</a></li>
                <li><a href="docs/form_expense.xlsx" target="_BLANK">Reimbursment Form</a></li>
                <li><a href="docs/form_teacher_absence_ch.doc" target="_BLANK">教师请假及代课表 Absence Form</a></li>
            </ul>

            <h4><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;课堂用表格</h4>

            <ul class="list-unstyled">
                <li><a href="docs/form_student_namelist.xls" target="_BLANK">Students namelist</a></li>
                <li><a href="docs/form_student_attendence.xls" target="_BLANK">Attendance</a></li>
                <li><a href="docs/form_test_report.xls" target="_BLANK">Test Report</a></li>
                <li><a href="docs/form_school_end_award.xls" target="_BLANK">School-end Awards</a></li>
            </ul>

        </div>
    </div>
</div> <!-- /container -->
