<div class="container">
    <div class="row">
        <div class="col-md-12">

            <h2>规章制度</h2>

            <h4><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;HCCS Code of Conduct</h4>
            <p>维持一个安全舒适的校园环境和良好的声誉，是每一个人，包括家长,学生,学校员工，的共同责任。请大家从每件小事做起， 为共同努力创造一个良好的校园环境做出贡献。</p>
            <p><a class="btn btn-default" href="docs/HCCS_code_of_conduct_chinese.pptx" role="button" target="_BLANK">校园安全与秩序规则</a></p>

            <h4><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;HCCS Bylaws</h4>
            <p><a class="btn btn-default" href="docs/bylaws.pdf" role="button" target="_BLANK">哈维中文学校章程 Bylaws</a></p>

            <h4><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;Refund Policy</h4>
            <p>The registration fee is not refundable. The textbook fee is refundable only if the package is not opened. A full tuition refund can be issued if a Request for Refund form is received by the registration staff during the first three weeks of the semester that the class started. After three weeks of class, no tuition will be refunded. The Request for Refund  form can be handed in at the school registration desk or emailed  to register[at]hccs-md.org.</p>

            <h4><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;HCCS PTA Weekly Newsletter 宗旨和规则</h4>
            <p>Howard County Chinese School PTA Weekly Newsletter是华人社区信息交流的平台。我们希望通过它，能帮助到更多需要帮助的人和团体。</p>

            <p><b>规则:</b></p>
            <ol>
                <li>关于HCCS本校的信息为首发信息；对于不利于本校发展的信息，HCCS PTA有权拒绝发送。</li>
                <li>对于校外与教育有关的组织，HCCS PTA每学期给每个组织发送的广告不超过一次。一学年为两学期。</li>
                <li>关于Seminar的信息，HCCS PTA可以给每个Seminar发送两次广告。第二次广告在该Seminar前发送，作为对可能参会人员的提醒。</li>
                <li>广告内容不代表HCCS及HCCS PTA立场，PTA只管转发信息；信息发出者对广告内容全权负责。</li>
                <li>每周四晚上发出Newsletter，周四晚上九点后收到的信息将发布在下一周的Newsletter上。若周四是节假日，该期的Newsletter就在前一天发送。</li>
                <li>请将信息发送至hccsptaservice@gmail.com。信息简单扼要。</li>
            </ol>

            <h4><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;HCCS Seminar Request Policies and Procedures</h4>
            <p>HCCS offers a classroom from 1:00pm to 3:00pm every Sunday to hold seminars that provide useful and valuable information to the Chinese community. We welcome professionals and volunteers to come to our school to give speeches that educate and provide better-living information to our society.</p>

            <p><b>Policies:</b></p>
            <ol>
                <li>All seminars are to provide useful and valuable information to the Chinese community. Any activities created for the sake of marketing are prohibited.</li>
                <li>All professionals or volunteers who would like to give a seminar at HCCS must submit request to HCCS PTA Seminar Committee (PTASC) at hccsptasc@gmail.com three weeks ahead the intended date on which the seminar will be given.</li>
                <li>All requests must be accompanied by the content of the seminar, how it can benefit Chinese community, and three different possible dates to give the speech in case of a scheduling conflict.</li>
                <li>HCCS PTASC helps schedule the seminars on first-come first-serve basis after the content is evaluated and approved by HCCS PTASC.</li>
                <li>No seminar shall be approved if similar content has been covered in the past <b>six consecutive weeks</b>.</li>
                <li>Any monetary donation to support one of the HCCS activities, such as Chinese New Year Gala, school wide picnics, sport events, or teacher’s training, could help gain higher priority on scheduling.</li>
                <li>HCCS PTASC can, at its sole discretion, cancel the scheduled seminar in the week in which it’s planned to take place if there is any conflict on use of the room for any other school events. A cancellation notice shall be sent out on or before Thursday of the week</li>
                <li>Any cancelled seminars due to inclement weather or school events have higher priority for rescheduling.</li>
                <li>No one is allowed to do more than one seminar at HCCS in any given semester.</li>
                <li>PTASC shall keep a seminar log for scheduling.</li>
            </ol>

            <p><b>Procedure:</b></p>
            <ol>
                <li>Requestors shall fill out the request form and send the form to hccsptasc@gmail.com.</li>
                <li>The PTASC reviews the request and decides whether or not to approve it.</li>
                <li>Once the content is approved, one of the PTASC members shall coordinate with HCCS for room availability.</li>
                <li>The PTASC member shall inform the requestor the scheduled date of seminar and send PTA news an email notice for the scheduled seminar.</li>
                <li>The PTASC member shall update the seminar log whenever a seminar is scheduled and send the log to PTASC.</li>
                <li>The PTA weekly newsletter shall send out two seminar notices before the seminar date.</li>
            </ol>

        </div>
    </div>
</div>