    <!-- Page contents -->
<div class="container">
    <div class="row">
        <div class="col-md-12">

            <h2>School Policies</h2>

            <h4><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;HCCS Code of Conduct</h4>
            <p><a class="btn btn-default" href="docs/HCCS_code_of_conduct_english.ppt" role="button" target="_BLANK">Code of Conduct</a></p>

            <h4><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;HCCS Bylaws</h4>
            <p><a class="btn btn-default" href="docs/bylaws.pdf" role="button" target="_BLANK">HCCS Bylaws</a></p>

            <h4><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;Refund Policy</h4>
            <p>The registration fee is not refundable. The textbook fee is refundable only if the package is not opened. A full tuition refund can be issued if a Request for Refund form is received by the registration staff during the first three weeks of the semester that the class started. After three weeks of class, no tuition will be refunded. The Request for Refund  form can be handed in at the school registration desk or emailed  to register[at]hccs-md.org.</p>

            <h4><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;HCCS Seminar Request Policies and Procedures</h4>
            <p>HCCS offers a classroom from 1:00pm to 3:00pm every Sunday to hold seminars that provide useful and valuable information to the Chinese community. We welcome professionals and volunteers to come to our school to give speeches that educate and provide better-living information to our society.</p>

            <p><b>Policies:</b></p>
            <ol>
                <li>All seminars are to provide useful and valuable information to the Chinese community. Any activities created for the sake of marketing are prohibited.</li>
                <li>All professionals or volunteers who would like to give a seminar at HCCS must submit request to HCCS PTA Seminar Committee (PTASC) at hccsptasc@gmail.com three weeks ahead the intended date on which the seminar will be given.</li>
                <li>All requests must be accompanied by the content of the seminar, how it can benefit Chinese community, and three different possible dates to give the speech in case of a scheduling conflict.</li>
                <li>HCCS PTASC helps schedule the seminars on first-come first-serve basis after the content is evaluated and approved by HCCS PTASC.</li>
                <li>No seminar shall be approved if similar content has been covered in the past <b>six consecutive weeks</b>.</li>
                <li>Any monetary donation to support one of the HCCS activities, such as Chinese New Year Gala, school wide picnics, sport events, or teacher’s training, could help gain higher priority on scheduling.</li>
                <li>HCCS PTASC can, at its sole discretion, cancel the scheduled seminar in the week in which it’s planned to take place if there is any conflict on use of the room for any other school events. A cancellation notice shall be sent out on or before Thursday of the week</li>
                <li>Any cancelled seminars due to inclement weather or school events have higher priority for rescheduling.</li>
                <li>No one is allowed to do more than one seminar at HCCS in any given semester.</li>
                <li>PTASC shall keep a seminar log for scheduling.</li>
            </ol>

            <p><b>Procedure:</b></p>
            <ol>
                <li>Requestors shall fill out the request form and send the form to hccsptasc@gmail.com.</li>
                <li>The PTASC reviews the request and decides whether or not to approve it.</li>
                <li>Once the content is approved, one of the PTASC members shall coordinate with HCCS for room availability.</li>
                <li>The PTASC member shall inform the requestor the scheduled date of seminar and send PTA news an email notice for the scheduled seminar.</li>
                <li>The PTASC member shall update the seminar log whenever a seminar is scheduled and send the log to PTASC.</li>
                <li>The PTA weekly newsletter shall send out two seminar notices before the seminar date.</li>
            </ol>

        </div>
    </div>
</div>
