<div class="container">
    <div class="row">
        <div class="col-md-10">

            <h2>家长会和学生会</h2>

            <h3>哈维中文学校家长会</h3>
            <p>哈维中文学校家长会是由家长和老师们自愿组织起来的机构。 家长会以联合家长，教师和社区各方资源为我们的孩子提供学习中文及中国文化的良好环境为宗旨。 家长会平时积极配合学校的活动和教学工作，协助学校发展，推动家长们参与学校事物。 家长会还致力于建立通畅的交流平台，促进家长之间的联系，支持有助于将学校、家庭以及更广泛社区连接在一起的活动和项目。</p>
            <p>家长会的日常工作主要有：发布每周社区广告、提供公共讲座、协助学校的重大活动，比如全校家长大会、中文竞赛、春节晚会,毕业典礼等等。如有实际需要，帮助学校募款活动。 家长会还会定期举办一些师生活动或为家长们提供服务，主要有：快乐暑假图片展、全校运动会、教师节鲜花义卖、制作毕业纪念册，代办中国签证等。</p>
            <p>每个家长会活动的成功举行，都离不开家长们的大力支持和积极参与。如果您有意加入我们，请发邮件到pta@hccs-md.org.<br></p>

            <h4>家长会 Parent Teacher Association (2016-2017)</h4>
            <table class="table table-striped" style="margin: 20px; width: 70%;">
                <tr><td>会长</td><td>邓岚</td><td>deng_lan@yahoo.com</td></tr>
                <tr><td>副会长</td><td>赵翠微</td><td>cuiwei.zhao@gmail.com</td></tr>
                <tr><td>财务主管</td><td>张倩</td><td>0319zhang@gmail.com</td></tr>
                <tr><td>SGA 辅导员</td><td>蒋晔</td><td>shelley7526@yahoo.com</td></tr>
                <tr><td>PTA Weekly Newsletter</td><td>马薇/赵翠微/郑祎华</td><td>hccsptaservice@gmail.com</td></tr>
                <tr><td>HCCS Seminar</td><td>邓岚/张蕾</td><td>hccsptasc@gmail.com</td></tr>
            </table>


            <h3>哈维中文学校学生会</h3>

            <p>哈维中文学校学生会是一个在家长会指导下，由六年级以上的学生组成的学生组织。 学生会主要有两个方面的功能：一是组织调动学生，协助家长会支持学校的各项重大活动，比如春节晚会，教师节鲜花义卖和毕业典礼等。二是计划各种公益活动，促进服务社区的学校精神。 公益活动主要包括筹集资金捐给中国海外教育基金，帮助贫困学生重返校园，以及到当地老年中心慰问表演等。</p>
            <p>学生会欢迎所有六年级以上的学生加入。学生会的联系方式是: HccsStudentGov@gmail.com; 网址：<a href="http://hccsstudentgov.wixsite.com/hccssga">http://hccsstudentgov.wixsite.com/hccssga</a></p>


        </div>
    </div>

</div> 