<div class="container">
    <div class="row">
        <div class="col-md-10">

            <h2>PTA and SGA</h2>

            <h3>HCCS PTA</h3>
            <p>The Parent Teacher Association (PTA) of Howard County Chinese School is a volunteer organization whose mission is tobring parents, teachers, and the community together to provide a better Chinese learning environment for our children. The PTA helps all schoolwide social and educational events, andencouragesparents to actively participate in school activities. The PTA is also committed to enriching the HCCS community by providing a platform for better communication and cooperation between parents and by supporting programs that connect schools, families, and the wider community.</p>
            <p>The PTA’s regular tasks are: PTA Weekly Newsletter, HCCS seminars, supports all school events and fundraisers! The PTA also periodically organizes some events or provide some services for students and parents, such as Summer Photos Gallery, All school sports meeting, Teacher appreciation flower sale, Yearbook, and Visa service etc.</p>
            <p>Joining the PTA is a great way to make wonderful new friends, to become more familiar with HCCS, and to make a positive impact on the school and your child's education. Please email us at pta@hccs-md.org to join.<br></p>

            <h4>Parent Teacher Association (2016-2017)</h4>
            <table class="table table-striped" style="margin: 20px; width: 70%;">
                <tr><td>President</td><td>Lan Deng</td><td>deng_lan@yahoo.com</td></tr>
                <tr><td>Vice President</td><td>Cuiwei Zhao</td><td>cuiwei.zhao@gmail.com</td></tr>
                <tr><td>Treasurer</td><td>Qian Zhang</td><td>0319zhang@gmail.com</td></tr>
                <tr><td>SGA Counselor</td><td>Ye Jiang</td><td>shelley7526@yahoo.com</td></tr>
                <tr><td>PTA Weekly Newsletter</td><td>Wei Ma/Cuiwei Zhao/Yihua Zheng</td><td>hccsptaservice@gmail.com</td></tr>
                <tr><td>HCCS Seminar</td><td>Lan Deng/Lei Zhang</td><td>hccsptasc@gmail.com</td></tr>
            </table>

            <h3>HCCS SGA</h3>

            <p>The HCCS Student Government Association (SGA)is composed of students from sixth grade and up and functions under the direction and supervision of the HCCS PTA. The SGA has two main purposes. First, the SGA promotesand organizes students to help PTA with big school events, such as the New Year Gala, Teacher appreciation flower sale, and Graduation ceremony etc. Second, the SGA plans and implementsactivities to serve communities and raise school spirit. Major activities include fundraisingfor OCEF (Overseas China Education Foundation), which helps underprivileged children in China go to school, and performing at local senior center etc.</p>
            <p>Together we can make contribution to the HCCS community and have lots of fun. Anyone (grade 6 & above) can join!  Please email us at HccsStudentGov@gmail.com or visit us <a href="http://hccsstudentgov.wixsite.com/hccssga">http://hccsstudentgov.wixsite.com/hccssga</a>.</p>


        </div>
    </div>

</div>