<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>The Management Team</h2>

            <h3>Board of Directors (2016-2017)</h3>

            <div class="row">
                <div class="col-md-9">

                    <table class="table table-striped" style="margin: 20px; width: 95%;">
                        <tr><td><img src="~/Content/Images/pics/guowei.jpg" width="100" /></td><td style="vertical-align: middle;">Chair<br>Wei Guo<br>wguo2k@yahoo.com</td><td><img src="~/Content/Images/pics/jiangye.jpg" width="100" /></td><td style="vertical-align: middle;">Vice Chair<br>Ye Jiang<br>shelley7526@yahoo.com</td></tr>
                        <tr><td><img src="~/Content/Images/pics/xulanlan.jpg" class="img-responsive" width="100" /></td><td style="vertical-align: middle;">Board Member/Secretary<br>Lanlan Xu<br>lanlanxu@hotmail.com</td><td><img src="~/Content/Images/pics/zhaojiabin.jpg" class="img-responsive" width="100" /></td><td style="vertical-align: middle;">Board Member<br>Jiabin Zhao<br>zhao4062@gmail.com</td></tr>
                        <tr><td><img src="~/Content/Images/pics/chenlinfeng.jpg" class="img-responsive" width="100" /></td><td style="vertical-align: middle;">Board Member<br>Linfeng Chen<br>linfeng.chen@gmail.com</td><td><img src="~/Content/Images/pics/liumeina.jpg" class="img-responsive" width="100" /></td><td style="vertical-align: middle;">Board Member<br>Meina Liu<br>meinaliu@email.gwu.edu</td></tr>
                        <tr><td><img src="~/Content/Images/pics/theresa.jpg" class="img-responsive" width="100" /></td><td style="vertical-align: middle;">Board Member<br>Theresa Quaranta<br>theresequaranta@gmail.com</td><td><img src="~/Content/Images/pics/zhonghuan.jpg" class="img-responsive" width="100" /></td><td style="vertical-align: middle;">Board Member<br>Huan Zhong<br>huan.zhong@gmail.com</td></tr>
                    </table>
                </div>
            </div>

            <h3>Executive Committee (2016-2017)</h3>

            <div class="row">
                <div class="col-md-9">
                    <table class="table table-striped" style="margin: 20px; width: 95%;">
                        <tr><td><img src="~/Content/Images/pics/wangjiabei.jpg" width="100" /></td><td style="vertical-align: middle;">Principle<br>Jiabei Wang<br>principal@hccs-md.org</td><td><img src="~/Content/Images/pics/lichangyi.jpg" width="100" /></td><td style="vertical-align: middle;">Vice Principal<br>Changyi Li<br>vp.admin@hccs-md.org</td></tr>
                        <tr><td><img src="~/Content/Images/pics/wengxuan.jpg" class="img-responsive" width="100" /></td><td style="vertical-align: middle;">Vice Principal<br>Xuan Weng<br>wengxuan@gmail.com</td><td><img src="~/Content/Images/pics/sunyan.JPG" class="img-responsive" width="100" /></td><td style="vertical-align: middle;">Vice Principal of Academics<br>Yan Sun<br>vp@hccs-md.org</td></tr>
                        <tr><td><img src="~/Content/Images/pics/luonan.JPG" class="img-responsive" width="100" /></td><td style="vertical-align: middle;">General Secretary<br>Nan Luo<br>admin@hccs-md.org</td><td><img src="~/Content/Images/pics/gaolimei.jpg" class="img-responsive" width="100" /></td><td style="vertical-align: middle;">Dean<br>Limei Gao<br>dean@hccs-md.org</td></tr>
                        <tr><td><img src="~/Content/Images/pics/lixin.jpg" class="img-responsive" width="100" /></td><td style="vertical-align: middle;">Vice Dean<br>Xin Li<br>xinli6322@yahoo.com</td><td><img src="~/Content/Images/pics/yangfan.jpg" class="img-responsive" width="100" /></td><td style="vertical-align: middle;">IT Director<br>Fan Yang<br>it@hccs-md.org</td></tr>
                        <tr><td><img src="~/Content/Images/pics/wangying.jpg" class="img-responsive" width="100" /></td><td style="vertical-align: middle;">IT Vice Director<br>Ying Wang<br>ying.l.wang@gmail.com</td><td><img src="~/Content/Images/pics/huangyan.JPG" class="img-responsive" width="100" /></td><td style="vertical-align: middle;">Art Director<br>Yan Huang<br>art_director@hccs-md.org</td></tr>
                        <tr><td><img src="~/Content/Images/pics/yangshuang.jpg" class="img-responsive" width="100" /></td><td style="vertical-align: middle;">General Manager<br>Shuang Yang<br>general@hccs-md.org</td><td><img src="~/Content/Images/pics/zouchaozhong.jpg" class="img-responsive" width="100" /></td><td style="vertical-align: middle;">Vice General Manager<br>Chaozhong Zou<br>chaozhong@gmail.com</td></tr>
                        <tr><td><img src="~/Content/Images/pics/tangjin.JPG" class="img-responsive" width="100" /></td><td style="vertical-align: middle;">Financial Director<br>Jin Tang<br>accountant@hccs-md.org</td><td><img src="~/Content/Images/pics/yangguangya.jpg" class="img-responsive" width="100" /></td><td style="vertical-align: middle;">Vice Financial Director<br>Guangya Young<br>guangyayang@gmail.com</td></tr>
                        <tr><td><img src="~/Content/Images/pics/zhiyang.jpg" class="img-responsive" width="100" /></td><td style="vertical-align: middle;">Register<br>Zhiyang Han<br>register@hccs-md.org</td><td><img src="~/Content/Images/pics/chenhuifei.jpg" class="img-responsive" width="100" /></td><td style="vertical-align: middle;">Vice Register<br>Huifei Chen<br>fayehifichf@gmail.com</td></tr>
                        <tr><td><img src="~/Content/Images/pics/shijin.jpg" class="img-responsive" width="100" /></td><td style="vertical-align: middle;">Student Counselor<br>Jin Shi<br>counselor@hccs-md.org</td><td><img src="~/Content/Images/pics/linzhaoping.jpg" class="img-responsive" width="100" /></td><td style="vertical-align: middle;">Communication Coordinator<br>Zhaoping Lin<br>communication@hccs-md.org</td></tr>
                    </table>
                </div>
            </div>

        </div>


    </div>
</div>