<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>管理团队</h2>

            <h3>董事会 Board of Directors (2016-2017)</h3>

            <div class="row">
                <div class="col-md-9">

                    <table class="table table-striped" style="margin: 20px; width: 95%;">
                        <tr><td><img src="~/Content/Images/pics/guowei.jpg" width="100" /></td><td style="vertical-align: middle;">董事长<br>郭唯<br>wguo2k@yahoo.com</td><td><img src="~/Content/Images/pics/jiangye.jpg" width="100" /></td><td style="vertical-align: middle;">副董事长<br>蒋晔<br>shelley7526@yahoo.com</td></tr>
                        <tr><td><img src="~/Content/Images/pics/xulanlan.jpg" class="img-responsive" width="100" /></td><td style="vertical-align: middle;">董事/秘书长<br>许兰兰<br>lanlanxu@hotmail.com</td><td><img src="~/Content/Images/pics/zhaojiabin.jpg" class="img-responsive" width="100" /></td><td style="vertical-align: middle;">董事<br>赵佳彬<br>zhao4062@gmail.com</td></tr>
                        <tr><td><img src="~/Content/Images/pics/chenlinfeng.jpg" class="img-responsive" width="100" /></td><td style="vertical-align: middle;">董事<br>陈林峰<br>linfeng.chen@gmail.com</td><td><img src="~/Content/Images/pics/liumeina.jpg" class="img-responsive" width="100" /></td><td style="vertical-align: middle;">董事<br>刘美娜<br>meinaliu@email.gwu.edu</td></tr>
                        <tr><td><img src="~/Content/Images/pics/theresa.jpg" class="img-responsive" width="100" /></td><td style="vertical-align: middle;">董事<br>杜瑞思<br>theresequaranta@gmail.com</td><td><img src="~/Content/Images/pics/zhonghuan.jpg" class="img-responsive" width="100" /></td><td style="vertical-align: middle;">董事<br>钟焕<br>huan.zhong@gmail.com</td></tr>
                    </table>
                </div>
            </div>

            <h3>校委会 Executive Committee (2016-2017)</h3>

            <div class="row">
                <div class="col-md-9">
                    <table class="table table-striped" style="margin: 20px; width: 95%;">
                        <tr><td><img src="~/Content/Images/pics/wangjiabei.jpg" width="100" /></td><td style="vertical-align: middle;">校长<br>王家蓓<br>principal@hccs-md.org</td><td><img src="~/Content/Images/pics/lichangyi.jpg" width="100" /></td><td style="vertical-align: middle;">常务副校长<br>李昌义<br>vp.admin@hccs-md.org</td></tr>
                        <tr><td><img src="~/Content/Images/pics/wengxuan.jpg" class="img-responsive" width="100" /></td><td style="vertical-align: middle;">常务副校长<br>翁璇<br>wengxuan@gmail.com</td><td><img src="~/Content/Images/pics/sunyan.JPG" class="img-responsive" width="100" /></td><td style="vertical-align: middle;">教务副校长<br>孙艳<br>vp@hccs-md.org</td></tr>
                        <tr><td><img src="~/Content/Images/pics/luonan.JPG" class="img-responsive" width="100" /></td><td style="vertical-align: middle;">秘书长<br>罗南<br>admin@hccs-md.org</td><td><img src="~/Content/Images/pics/gaolimei.jpg" class="img-responsive" width="100" /></td><td style="vertical-align: middle;">教务长<br>高丽梅<br>dean@hccs-md.org</td></tr>
                        <tr><td><img src="~/Content/Images/pics/lixin.jpg" class="img-responsive" width="100" /></td><td style="vertical-align: middle;">副教务长<br>李欣<br>xinli6322@yahoo.com</td><td><img src="~/Content/Images/pics/yangfan.jpg" class="img-responsive" width="100" /></td><td style="vertical-align: middle;">IT主管<br>杨帆<br>it@hccs-md.org</td></tr>
                        <tr><td><img src="~/Content/Images/pics/wangying.jpg" class="img-responsive" width="100" /></td><td style="vertical-align: middle;">IT副主管<br>王盈<br>ying.l.wang@gmail.com</td><td><img src="~/Content/Images/pics/huangyan.JPG" class="img-responsive" width="100" /></td><td style="vertical-align: middle;">文体部长<br>黄燕<br>art_director@hccs-md.org</td></tr>
                        <tr><td><img src="~/Content/Images/pics/yangshuang.jpg" class="img-responsive" width="100" /></td><td style="vertical-align: middle;">总务长<br>杨霜<br>general@hccs-md.org</td><td><img src="~/Content/Images/pics/zouchaozhong.jpg" class="img-responsive" width="100" /></td><td style="vertical-align: middle;">副总务长<br>邹朝中<br>chaozhong@gmail.com</td></tr>
                        <tr><td><img src="~/Content/Images/pics/tangjin.JPG" class="img-responsive" width="100" /></td><td style="vertical-align: middle;">财务长<br>唐瑾<br>accountant@hccs-md.org</td><td><img src="~/Content/Images/pics/yangguangya.jpg" class="img-responsive" width="100" /></td><td style="vertical-align: middle;">副财务长<br>杨光亚<br>guangyayang@gmail.com</td></tr>
                        <tr><td><img src="~/Content/Images/pics/zhiyang.jpg" class="img-responsive" width="100" /></td><td style="vertical-align: middle;">注册长<br>韩志阳<br>register@hccs-md.org</td><td><img src="~/Content/Images/pics/chenhuifei.jpg" class="img-responsive" width="100" /></td><td style="vertical-align: middle;">副注册长<br>陈慧妃<br>fayehifichf@gmail.com</td></tr>
                        <tr><td><img src="~/Content/Images/pics/shijin.jpg" class="img-responsive" width="100" /></td><td style="vertical-align: middle;">学生辅导员<br>石瑾<br>counselor@hccs-md.org</td><td><img src="~/Content/Images/pics/linzhaoping.jpg" class="img-responsive" width="100" /></td><td style="vertical-align: middle;">宣传部长<br>林昭平<br>communication@hccs-md.org</td></tr>
                    </table>
                </div>
            </div>

        </div>


    </div>
